<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Latest Tip</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

        body {
            font-family: 'Open Sans', sans-serif;
        }

        @keyframes fadeIn {
            to {
                opacity: 1;
            }
        }

        .fade-in {
            opacity: 0;
            animation: fadeIn 0.1s ease-in 1 forwards;
        }
    </style>
</head>
<body class="fade-in">
</body>
<script>
  const server = window.location.href.includes('127.0.0.1') || window.location.href.includes('localhost') ?
    'ws://127.0.0.1:3000/' : 'wss://info.annemunition.tv/';
  const ws = io(server);
  ws.on('connect', () => {
    console.log('Connected');
    ws.emit('getLatestTip');
  });
  ws.on('tip', data => {
    const first = data.first;
    if (data.data) data = data.data;
    const time = first ? 0 : 3.5;
     setTimeout(() => {
      document.body.innerHTML = data ? `<span class="name">${data.username}:</span> <span class="amount">${data.formatted_amount}</span>` : 'NULL';
    }, 1000 * time)
  });
</script>
</html>
